<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White - Dolphins</title>
    
</head>
<body>

    <div class="container">
        <div class="brand-section">
            <div class="row">
                <div class="col-6">
                    <h1 class="text-white">WhiteDolphins Pharmacy</h1>
                </div>
                <div class="col-6">
                    <div class="company-details">
                        <p class="text-white">Μοναστηρίου 125</p>
                        <p class="text-white">Θεσσαλονίκη 54627</p>
                        <p class="text-white">+30 231 059 0100</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="body-section">
            <div class="row">
                <div class="col-6">
                    <h2 class="heading">Αριθμός Τιμολογίου.: 001</h2>
                    <p class="sub-heading">Ημ/νία Παραγγελίας: 26-08-2021 </p>
                    <p class="sub-heading">Email: karanasios@gfmail.com </p>
                    <p class="sub-heading">Τηλέφωνο: 6999999999 </p>
                    <p class="sub-heading">Διεύθυνση: Πολύγυρος, Χαλκιδική, 63100  </p>
                </div>
                <div class="col-6">
                    <p class="sub-heading">Ονοματεπώνυμο: Γεώργιος Καρανάσιος  </p>
                    <p class="sub-heading">Επωνυμία Επιχείρησης: Καρανάσιος ΑΕ  </p>
                    <p class="sub-heading">Α.Φ.Μ.: 123456789 </p>
                    <p class="sub-heading">Δ.Ο.Υ.: Πολύγυρος </p>
                    <p class="sub-heading">Χώρα Έδρας: Αγγλία  </p>
                    
                    
                    
                </div>

                
            </div>
        </div>

        <div class="body-section">
            <h3 class="heading">Προϊόντα - Υπηρεσίες</h3>
            <br>
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th>Προϊόντα</th>
                        <th class="w-15">Τιμή/τεμ.προ ΦΠΑ</th>
                        <th class="w-15">Έκπτωση</th>
                        <th class="w-15">Φ.Π.Α.</th>
                        <th class="w-15">Τιμή/τεμ.συμπ.ΦΠΑ</th>
                        <th class="w-15">Ποσότητα</th>
                        
                        <th class="w-15">Συνολική Τιμή</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Depon</td>
                        <td>1.94</td>
                        <td>10%</td>
                        <td>24%</td>
                        <td>2.17</td>
                        <td>10</td>
                        <td>21.70</td>
                    </tr>


                    <tr>
                        <td>Maalox</td>
                        <td>5.61</td>
                        <td>5%</td>
                        <td>13%</td>
                        <td>4.6371</td>
                        <td>35</td>
                        <td>162.30</td>
                    </tr>


                    <tr>
                        <td>Zantac</td>
                        <td>4.96</td>
                        <td>14%</td>
                        <td>24%</td>
                        <td>5.29</td>
                        <td>250</td>
                        <td>1322.50</td>
                    </tr>


                    <tr>
                        <td>Raldon</td>
                        <td>3.24</td>
                        <td>9%</td>
                        <td>24%</td>
                        <td>3.66</td>
                        <td>37</td>
                        <td>135.42</td>
                    </tr>

                    <tr>
                        <td colspan="6" class="text-right">Μερικό Σύνολο</td>
                        <td> 1294.27</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-right">Σύνολο ΦΠΑ</td>
                        <td> 347.65</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-right">Τελικό Κόστος</td>
                        <td> 1641.92</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h3 class="heading">Τύπος Τιμολογίου: Πιστωτικό Τιμολόγιο</h3>
            <h3 class="heading">Σχόλια: Επιστροφές</h3>
        </div>

        <div class="body-section">
            <p>&copy; Copyright 2021 - WhiteDolphins. All rights reserved. 
                <a href="https://ots.gr/" class="float-right">www.ots.gr</a>
            </p>
        </div>      
    </div>      

</body>
</html>