
<button (click)="onSubmit()">ΛΙΣΤΑ ΠΡΟΙΟΝΤΩΝ</button>

<!-- <div class="container">  
    <table class="table table-bordered table-stripted">
<!-- <thread>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
</thread> -->

<!-- 
<tr> {{ productsTest }} </tr> -->
<!-- <tbody>
    <tr *ngFor="let "
 </tbody>







    </table>
    <div class="panel-heading">  
        <h1 style="text-align: center"><p><b>ΛΙΣΤΑ ΠΡΟΙΟΝΤΩΝ</b></p></h1><br>  
      
                  <div class="col-sm-4"></div>  
                  <div class="col-sm-4">  
                          <div class="alert alert-info alert-dismissible">  
                                  <button type="button" class="close" data-dismiss="alert">×</button>  
                                  <strong>Student Data Deleted</strong>  
                          </div>  
                  </div>  
                  <div class="col-sm-4"></div>  
          </div>             
      </div>  
    
      
    <div class="panel-body">  
        <table  class="table table-hover table-sm" datatable  >  
            <thead class="thead-light">  
                <tr>  
                    <th>Product Id</th>  
                    <th>Product Name</th>  
                    <th>Product Price per Item</th>  
                   
                      
                </tr>  
            </thead>  
            <tbody>  
                
                    
                    
              
            </tbody><br>  
        </table>  
    </div>  
    
     -->
   