<button type="button" class="btn btn-primary" (click)="onLogout()">Logout</button>
<div  class="panel panel-primary">
    <div  class="panel-heading">
      <h2>Προϊόντα</h2>
    </div>
    <div class="panel-body main">
      <table class="table table-hover table-striped">  
        <thead>
          <tr>
            <th>Περιγραφή προϊόντος</th>
            <th>Τιμή τεμαχίου (€)</th>
            <th>Έκπτωση </th>
            <th>ΦΠΑ</th>
          </tr>
        </thead>
        <tbody>
          
            <tr *ngFor="let pr of products">
             
                 <td>{{pr.productDescription}}</td>
                 <td>{{pr.pricePerItem}}</td>
                <td>{{pr.discount}}</td>
                <td>{{pr.vat.vatValue}}</td>
                
          </tr>
        </tbody>
      </table>
    </div>
  </div>




