<button type="button" class="btn btn-primary">Logout</button>

<div id="dashboardheader" class="container" style="padding-top: 30px">
    <ul class="nav  nav-tabs tab-pane">
        <li class="active"><a href="#">
          <p style="color:gray;font-size:30px;">Σύστημα εκχώρησης - έκδοσης τιμολογίων</p>    
        </a></li>
    </ul>
  </div>
  
  <div id="dashboardpanel " style="padding-top: 20px">
    <div class="panel panel-primary container" style="padding-top: 20px;">
        <div class="row">
  <div class="container">
    <div class="row"> 
     
        <ul class="nav nav-tabs">
          <li role="presentation"
              routerLinkActive="active"
             >
            <a routerLink="clientInvoice" >Εκχώρηση τιμολογίου</a>
          </li>
          <li role="presentation"
              routerLinkActive="active"
          >
            <a routerLink="supplierInvoice">Έκδοση τιμολογίου</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a routerLink="searchInvoice">Έυρεση τιμολογίου</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a routerLink="transactors">Άνοιγμα καρτέλας πελάτη/προμηθευτή</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a routerLink="searchTransactor">Άναζήτηση πελάτη/προμηθευτή</a>
          </li>
          <li role="presentation"
              routerLinkActive="active">
            <a routerLink="products">Προϊόντα</a>
          </li>
        </ul>
        <router-outlet></router-outlet>
      </div>
     
    </div>

    </div>
  </div>
        </div>
        
        
  
  
